.page {
  max-width: 1280px;
  margin: auto;
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 40px;
  border-bottom: 1px solid #545454;
}

.logo {
  display: block;
  width: 142px;
  height: 33px;
  background: url(./images/logo.svg) center no-repeat;
}

.profile {
  max-width: 880px;
  margin: auto;
  padding: 40px 0 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.info {
  margin: 0 auto 0 30px;
  max-width: 336px;
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  column-gap: 16px;
  row-gap: 18px;
}

.info__user-name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

.info__button-info {
  margin: 0;
  width: 24px;
  height: 24px;
}

.info__user-description {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

.profile__button-add {
  margin: 0;
  width: 150px;
  height: 50px;
}

.profile__button-add {
  background: url(./images/Add-Button.svg) center no-repeat;
  border: 2px solid white;
  border-radius: 2%;
}

.profile__button-add:hover {
  opacity: .6;
  transition: .3s;
  cursor: pointer;
}

.info__button-info {
  margin: 15px 0 0;
  background: url(./images/Edit-Button.svg) center no-repeat;
  border: 1px solid white;
}

.info__button-info:hover {
  opacity: .6;
  transition: .3s;
  cursor: pointer;
}

/*Style for section CARDS*/
.cards-section {
  max-width: 880px;
  margin: auto;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

.cards__item {
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.cards__images {
  width: 100%;
  height: calc(100% - 80px);
  object-fit: cover;
}

.cards__caption {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.cards__button-like {
  width: 22px;
  height: 19px;
  background: url(./images/button-like.svg) center no-repeat;
  background-size: contain;
  border: none;
}

.cards__button-like:hover {
  opacity: .5;
  transition: .3s;
  cursor: pointer;
}

/*Style for section Footer*/

.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 66px 0 60px;
  color: #545454;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}