.popup__profile {
  width: 100%;
  padding: 0 0 10px 0;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__profile:last-child {
  margin-bottom: 0;
}

.popup__profile:focus {
  outline: none;
}

.popup__profile::placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
}